.con{
    padding-left: 7rem!important;
    padding-right: 7rem!important;
    padding-bottom: 1.7rem!important;
}

.column{
    padding-left: 5rem!important;
}

.header
{
    padding-left: 5rem!important;
}

.row1{
    padding-bottom: 2.2rem!important;
}